@charset "UTF-8";

/* global */
.field-error { border-color: #dc3545; color: #dc3545; }

.title-con { margin-left: 20px; }

/* home */
.homeb-con { padding: 5px 15px; }
.homeb-con > button { width: 80px; margin: 5px; }

/* addArticleForm */
.addArticlei-con { margin: 10px 20px; }
.addArticlei-con > input { width: 100%; }
.addArticlei-con > label { display: block; width: 120px; }
.addArticlei-con > textarea { width: 100%; height: 720px; resize: none; }

.addArticles-con { display: flex; padding: 5px 15px; }
.addArticles-con > button { width: 80px; margin: 5px; }

.addArticlesp-con { width: 360px; }

/* article */
.article-con { padding: 5px 15px; }
.article-con > button { width: 120px; margin: 5px; }

.articleb-con { display: flex; padding: 5px 15px; }
.articleb-con > button { width: 120px; margin: 5px; }

/* articles */
.articles-con { padding: 5px 15px; }
.articles-con > table { width: 100%; margin: 15px 0; }

.articlesb-con { display: flex; padding: 5px 15px; }
.articlesb-con > button { width: 120px; margin: 5px; }